{%  extends 'base.html.twig' %}
{% block body %}
    <br>
    <strong>Ürün Listesi: </strong>
    <form>
        İsim:<input type="text" name="isim"style="width: 100px">
        En Az Fiyat:<input type="number" name="min-fiyat"style="width: 100px">
        En Fazla Fiyat<input type="number" name="max-fiyat"style="width: 100px">
        <input type="submit" value="Yeni Sorgu" style="background-color: cornflowerblue">
        <br><br>
    </form>
    <table>
        <tr>
            <th>İd</th>
            <th>İsim</th>
            <th>Durum</th>
            <th>Fiyat</th>


        </tr>
        <body>
        {% for urun in urunler %}
            <tr>
                <td><a class="btn btn-info" href="{{ path('urun_goruntule',{'id':urun.id}) }}">Detaylı Bilgi:{{ urun.id }}</a></td>
                <td>{{ urun.isim }}</td>
                <td>{{ urun.durum }}</td>
                <td>{{ urun.fiyat }}</td>


            </tr>
        {% endfor  %}
        </body>
    </table>


    <br><br>
{% endblock %}
{% block style %}
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 55%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }


{% endblock %}
