{%  extends 'base.html.twig' %}
{% block body %}


        <a class="nav btn btn-warning"style="width: 15%" href="{{ path('yeni_urun_ekle') }}">Yeni Ürün Ekle</a>
    <hr><strong>Ürün Listesi: </strong>
    <table>
        <tr>
            <th>İd</th>
            <th>İsim</th>
            <th>Durum</th>
            <th>Fiyat</th>
            <th>Düzenleme</th>
            <th>Silme</th>
        </tr>
        <body>
        {% for urun in urunler %}
            <tr>
                <td><a class="btn btn-info" href="{{ path('urun_goruntule',{'id':urun.id}) }}">Ürün Bilgileri:{{ urun.id }}</a></td>
                <td>{{ urun.isim }}</td>
                <td>{{ urun.durum }}</td>
                <td>{{ urun.fiyat }}</td>
                <td><a class="btn btn-warning" href="{{ path('urun_duzenle',{'id':urun.id}) }}">Düzenlemek İçin Tıklayın</a></td>
                <td><a class="btn btn-danger" href="{{ path('urun_silme',{'id':urun.id}) }}">Ürünü Sil</a></td>
            </tr>
        {% endfor  %}
        </body>
    </table>
<br><br>
{% endblock %}
{% block style %}
      table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }


{% endblock %}
